#top {
  background: #5171cc;
  display: table;
  height: 40%;
  postition: relative;
  width: 100%;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 500%;
  color: aliceblue;
  font-weight: 700;
  margin: 50px;
}

.padding h2 {
  font-size: 200%;
  color: aliceblue;
  font-weight: 500;
}

.padding {
  height: 50%;
  background: #5171cc;
}

.col-sm {
  padding: 20px;
}

mat-card {
  margin-top: 10px;
}
mat-card img{
  object-fit: cover;
  width: 100%;
  height: 80%;
}
